<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Conditionals</title>
</head>
<body>

    <div id="app">
        <!-- Detach element from DOM -->
        <p v-if="show">You can see me!</p>
        <p v-else>Now you see me</p>
        <template v-if="show">
            <h1>Heading inside template</h1>
            <p>Inside template</p>
        </template>

        <!-- Element disappears through CSS style -->
        <p v-show="show">Do you also see me?</p>

        <button @click="show = !show">Switch</button>

        <hr>

        <ul>
            <li v-for="(ingredient, i) in ingredients" :key="ingredient">{{ ingredient }} ({{ i+1 }})</li>
        </ul>

        <button @click="ingredients.push('spices')">Add ingredient</button>

        <template v-for="(ingredient, i) in ingredients">
            <h1>{{ ingredient }}</h1>
            <p>{{ i+1 }}</p>
        </template>

        <hr>

        <ul>
            <li v-for="person in persons">
                <div v-for="(value, key, index) in person">{{ key }}: {{ value }}  ({{ index+1 }})</div>
            </li>
        </ul>

        <hr>

        <span v-for="n in 10">{{ n }}</span>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script.js" charset="utf-8"></script>
</body>
</html>
